name: Release ✈️

on:
  pull_request:
    types: [ closed ]
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  create-release:
    if: ${{ (github.event.pull_request.merged == true) && (contains(github.event.pull_request.labels.*.name, 'release :tada:')) }}
    name: Create Release
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.AUTO_RELEASE_PAT }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Major Version Bump
        if: ${{ contains(github.event.*.labels.*.name, 'major :1st_place_medal:') }}
        run: make release BUMP=major
      - name: Minor Version Bump
        if: ${{ contains(github.event.*.labels.*.name, 'minor :2nd_place_medal:') }}
        run: make release BUMP=minor
      - name: Patch Version Bump
        if: ${{ contains(github.event.*.labels.*.name, 'patch :3rd_place_medal:') }}
        run: make release BUMP=patch
